<% if object.errors.any? %>
  <div id="error_messages" class="alert alert-danger" role="alert">
    <p class="font-weight-bold"><%= object.errors.count %> hiba miatt sikertelen a mentés</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>