<h2 class="mb-5">Bemutatkozunk</h2>

<p>A VIAREX Kft. 2002-ben alakult. A társaság kezdetben ingatlanfejlesztések előkészítésével foglalkozott, majd a mély és magasépítés területén mint fővállalkozó tette le névjegyét.</p>

<p>A megrendelők folyamatos pozitív visszajelzései alapján újabb megrendelői igények merültek fel, melyek szükségessé tették a társaságban a tudatos eszköz és humán erőforrás fejlesztést.</p>

<p>Az évek során a társaság köré egy cégcsoport épült, mely mára a kereskedelemtől a gyártósoron át a szolgáltatószektorig jelen van.</p>

<p>A cégcsoport saját tulajdonú földmunkagépekkel, teherautókkal, homlokzatiállvány rendszerekkel, gyártógépekkel rendelkezik.</p>

<p>A VIAREX Kft. a Byspan laminált faforgácslapok (bútorlapok) Jász-Nagykun-Szolnok és Bács-Kiskun megyei kizárólagos képviselője</p>

<p>Szolnoki telephelyünkön saját lapszabászatot is működtetünk, ahol a legmodernebb gépekkel végzünk bútorlap szabászatot és élzárást. Vevőink igénye szerint egyedi bútorok tervezését és gyártását is végezzük.</p>

<p>A VIAREX Kft. a hazai piacon azon sokoldalú és ügyfélközpontú társaságok közé tartozik, mely kapcsolati tőkéjét megfelelő szervezési készséggel és magas kvalitásokkal ötvözve komplex szolgáltatást tud nyújtani partnereinek. Büszkén elmondhatjuk, hogy az elmúlt 15 évben az általunk végzett munkára garanciális meghibásodási panasz, vagy az általunk gyártott termékekre vásárlói reklamáció nem érkezett.</p>

<p>A cégcsoport komplexitását és a felhalmozott szakmai tudásunkat kamatoztatva kiemelt ügyfeleinknek a pénzügyi világban adózási, pályázati, stratégiai, üzletviteli konzultációs tanácsadást is nyújtunk. Reméljük Önt is mielőbb partnereink között üdvözölhetjük.</p>

<p>Amennyiben felkeltettük érdeklődését tisztelettel várjuk megkeresését, megrendelését.</p>